body {
	background-color: purple;
}
h1 {
	color: white;
	font-family: Vermin Vibes V;
	font-size: 300%;
}
p {
	color: white;
	font-family: Emotion Engine;
	font-size: 140%;
}
footer {
	color; white;
	font-family: Emotion Engine;
	font-size: 100%;
}
@media screen and (min-width: 480px) {
	body {
		background-color: purple;
	}
}

@media screen and (min-width: 480px) {
	#leftsidebar {width: 280px; float: left;}
	#main {margin-left: 216px;}
}
