img {
	width: 50%;
	height: auto;
}
body {
	background-color: #4A235A;
	color: white;
}
header {
	color: white;
	font-family: Vermin Vibes V;
	font-size: 50%;
}
h1 {
	color: white;
	font-family: Vermin Vibes V;
	font-size: 300%;
}
p {
	color: white;
	font-family: Emotion Engine;
	font-size: 140%;
}
footer {
	height: 100px;
	background-color: #191970;
	color: white;
	font-family: Emotion Engine;
	font-size: 100%;
}
@media screen and (min-width: 480px) {
	body {
		background-color: #4A235A;
	}
}

@media screen and (min-width: 480px) {
	#leftsidebar {width: 280px; float: left;}
	#main {margin-left: 216px;}
}
