ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #18013C;
	font-family: Vermin Vibes V;
	font-size: 150%;
}
li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #18013C;
}
body {
	background-color: #4A235A;
	color: white;
}
header {
	color: white;
	font-family: Vermin Vibes V;
	font-size: 50%;
}
h1 {
	color: white;
	font-family: Vermin Vibes V;
	font-size: 300%;
}
p {
	color: white;
	font-family: Emotion Engine;
	font-size: 140%;
}
footer {
	width: 100%;
	height: 80px;
	color: white;
	font-family: Emotion Engine;
	font-size: 140%;
}
@media screen and (min-width: 480px) {
	#leftsidebar {width: 280px; float: left;}
	#main {margin-left: 216px;}
}
